.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .card-wrapper {
  border: 0px none;
  height: 351px;
  width: 270px;
}

.box .card {
  height: 351px;
  left: 0;
  position: fixed;
  top: 0;
  width: 270px;
}

.box .UI-UX-review {
  height: 351px;
  position: relative;
  width: 274px;
}

.box .text-wrapper {
  color: #221714;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-decoration: underline;
  top: 222px;
  white-space: nowrap;
}

.box .p {
  color: #706866;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 264px;
  width: 270px;
}

.box .image-date {
  height: 206px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.box .overlap-group {
  //background-image: url(./image.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 206px;
  position: relative;
  width: 270px;
}

.box .image {
  background-color: #c4c4c4;
  border-radius: 10px;
  height: 206px;
  left: 0;
  position: absolute;
  top: 0;
  width: 270px;
}

.box .black-bg {
  background: linear-gradient(
                  180deg,
                  rgba(80.75, 80.75, 80.75, 0) 0%,
                  rgba(54.19, 54.19, 54.19, 0.37) 24.79%,
                  rgba(49.94, 37.35, 33.92, 0.61) 47.41%,
                  rgb(0, 0, 0) 84.88%
  );
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 156px;
  width: 270px;
}

.box .div {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: 25.6px;
  position: absolute;
  top: 168px;
  white-space: nowrap;
  width: 136px;
}

.box .read-post {
  height: 24px;
  left: 0;
  position: absolute;
  top: 327px;
  width: 101px;
}

.box .vector {
  height: 9px;
  left: 85px;
  position: absolute;
  top: 6px;
  width: 10px;
}

.box .text-wrapper-2 {
  color: #221714;
  font-family: "Inter-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
