// 👻 Developed by DanBi Choi on July 19th, 2023.
// -----------------------------------------------------

@import "../App.scss";

.container-fluid {
    border: 1px solid $color-yellow;
}

@mixin section-name {
    font-weight: 500;
    font-size: $desktop-font-large;
    margin-bottom: 0;
    @content;
}

@mixin section-title {
    font-size: $desktop-font-xlarge;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 130%;
    @content;

    span {
        color: $color-purple;
    }
}

@mixin section-subtitle {
    margin: 10px 0 40px 0;
    color: $color-gray;
    font-size: $desktop-font-medium;
    line-height: 160%;
    @content;
}

.landing-view {
    padding: 150px 0 100px 0;

    h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 38px;
        line-height: 130%;
        max-width: 562px;
    }

    p {
        font-size: $desktop-font-medium;
        margin-bottom: 33px;
        color: $color-gray;
        max-width: 552px;
    }
    h5 {
        font-size: $desktop-font-medium;
        color: $color-purple;
        font-weight: 600;
        margin-bottom: 33px;
    }
}

.customerTypes {
    padding-top: 155px;
    text-align: center;

    h1 {
        @include section-title;
    }

    p {
        @include section-subtitle;
        max-width: 620px;
    }

    .card-box {
        width: 100%;
        padding: 40px 31px 40px 31px;
        border-radius: 10px;
        background: $color-white;
        box-shadow: 0px 5px 20px 0px rgba(254, 230, 237, 0.2);
        line-height: 160%;

        h3 {
            padding-top: 14px;
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 0;
        }

        h4 {
            color: $color-white;
            font-size: 22px;
            font-weight: 600;
            line-height: 130%;
        }

        p {
            margin: 14px 0 23px 0;

            color: $color-white;
            font-size: $desktop-font-medium;
        }

        &:hover {
            background-color: $color-purple;
        }

        button {
            border: 1px solid #fff;
            color: #fff;
            width: 160px;
            font-weight: 500;
            font-size: 16px;
            border-radius: 10px;
            padding: 12px 38px;
        }
    }
}

.creatorStory {
    padding-top: 114px;
    text-align: center;
    h3 {
        @include section-name;
    }
    h1 {
        @include section-title;
    }

    .story-box {
        margin-top: 40px;
        background-color: $background-color-beige;
        padding: 45px 0;
        img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            object-fit: cover;
        }

        h5 {
            font-weight: 600;
            font-size: 22px;
            line-height: 160%;
        }
        p {
            @include section-subtitle;
            max-width: 670px;
        }
    }
}
