@import "../../App.scss";

.nav {
    background-color: $background-color-beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;

    li {
        margin: 0 20px;
    }
}
